<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="en-US">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2017.0.0.363"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Player Home</title>
  <link rel="stylesheet" type="text/css" href="css/site_global.css?crc=443350757"/>
  <link rel="stylesheet" type="text/css" href="css/master_a-master.css?crc=505742877"/>
  <link rel="stylesheet" type="text/css" href="css/player.css?crc=3855062097"/>
  <script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="scripts/player.js"></script>
  <script type="text/javascript" src="scripts/canvasjs.min.js"></script>
  <script type="text/javascript" src="scripts/loader.js"></script>
</head>
<body>
  <div class="clearfix borderbox" id="page">
    <div class="position_content" id="page_position_content">
      <div class="clearfix colelem" id="pu177">
        <div class="clip_frame grpelem" id="u1580">
          <img class="block" id="u1580_img" src="images/bg-crop-u1580.png?crc=4197570884" data-image-width="1030" data-image-height="510"/>
        </div>
        <div class="clearfix grpelem" id="u1499">
          <div class="position_content" id="u1499_position_content">
            <div class="clearfix colelem" id="ppu474">
              <div class="clearfix grpelem" id="pu474">
                <div class="clip_frame colelem" id="u474">
                  <img class="block" id="u474_img" src={{profile_picture}} data-image-width="164" data-image-height="164"/>
                </div>
                <div class="clearfix colelem" id="u484-4">
                  <p>{{name}}</p>
                </div>
              </div>
              <div class="clip_frame grpelem" id="u488">
                <img class="block" id="u488_img" src="images/hiticon.png?crc=394118526" data-image-width="47" data-image-height="73"/>
              </div>
              <div class="clearfix grpelem" id="u498-4">
                <p>Rank </p>
              </div>
              <div class="clearfix grpelem" id="u502-4">
                <p>{{rank}}</p>
              </div>
            </div>
            <div class="shadow clearfix colelem" id="u506">
              <!-- <div class="clearfix colelem" id="ppu509-4">
                <div class="clearfix grpelem" id="pu509-4">
                  <div class="clearfix colelem" id="u509-4">
                    <p><b>STYLE</b></p>
                  </div>
                  <a class="nonblock nontext clearfix colelem" id="u518-5" >
                    <p id="u518-3">
                      <span id="u518">{{s1}}</span>
                      <span id="u518-2">%</span>
                    </p>
                  </a>
                </div>
                <div class="clearfix grpelem" id="u512-4">
                  <p><b>GAME</b></p>
                </div>
                <div class="clip_frame grpelem" id="u578">
                  <img class="block" id="u578_img" src="images/icon1.jpg?crc=341335211" data-image-width="161" data-image-height="171"/>
                </div>
                <a class="nonblock nontext clearfix grpelem" id="u527-5">
                  <p id="u527-3">
                    <span id="u527">{{dominance}}</span>
                    <span id="u527-2">%</span>
                  </p>
                </a>
                <div class="clip_frame grpelem" id="u588">
                  <img class="block" id="u588_img" src="images/icon2.jpg?crc=346280481" data-image-width="100" data-image-height="128"/>
                </div>
                <div class="clearfix grpelem" id="pu515-4">
                  <div class="clearfix colelem" id="u515-4">
                    <p><b>AGILITY</b></p>
                  </div>
                  <a class="nonblock nontext clearfix colelem" id="u530-5">
                    <p id="u530-3">
                      <span id="u530">{{speed}}</span>
                      <span id="u530-2">m/s</span>
                    </p>
                  </a>
                </div>
              </div>
              <div class="clearfix colelem" id="pu521-4">
                <a class="nonblock nontext clearfix grpelem" id="u521-4"><p>{{style1}}</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u524-4"><p>Dominance</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u533-4"><p>Speed</p></a>
              </div>
              <div class="clearfix colelem" id="pu536-6">
                <a class="nonblock nontext clearfix grpelem" id="u536-6" ><p><b>{{s2}}%</b></p><br><p>{{style2}}</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u539-6" ><p><b>{{s3}}%</b></p><br><p>{{style3}}</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u542-6" ><p><b>{{s4}}%</b></p><br><p>{{style4}}</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u545-6" ><p><b>{{strokes}}</b></p><br><p>Strokes/ Point</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u548-6" ><p><b>{{serve}} s</b></p><br><p>Serve React Time</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u551-6" ><p><b>{{speed}} m/s</b></p><br><p>Speed</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u560-6" ><p><b>{{react}} s</b></p><br><p>React Time</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u557-6" ><p><b>{{frequency}}</b></p><br><p>Frequency</p></a>
                <a class="nonblock nontext clearfix grpelem" id="u554-6" ><p><b>{{steps}}</b></p><br><p>Steps/Point</p></a>
              </div> -->
              <button id="latest_btn" class="button1" onclick="match_latest();"><b>Latest match</b></button>
              <button id="avg_btn" class="button1" onclick="match_avg();"><b>Average</b></button>
              <button id="past_btn" class="button1" onclick="match_past();"><b>Past matches</b></button>
              <button id="compare_btn" class="button1" onclick="match_compare();"><b>Compare</b></button>
              
              <div class="clearfix colelem" id="single_pie">
                <div class="clearfix grpelem">
                  <div id="piechart"></div>
                </div>
                <div class="clearfix grpelem">
                  <ul>
                    <li style="margin-top: 80px"><b>Dominance: <span id="dominance"></span></b> %</li><br>
                    <li><b>Strokes/Point: <span id="strokes"></span></b></li><br>
                    <li><b>Speed: <span id="speed"></span></b> m/s</li><br>
                    <li><b>Reaction time: <span id="reaction"></span></b> sec</li><br>
                    <li><b>Movement Frequency: <span id="frequency"></span></b></li><br>
                  </ul>
                </div>
              </div>

              <div id="past_popup" class="clearfix colelem" style="display:none;">
                  <h1><b><br>Select the match to view:</b></h1><br><br>
                  <div id="select_matches_wrapper2">
                    <ul id="select_matches2">              
                    </ul>
                  </div>
              </div>
              <div id="compare_popup" class="clearfix colelem" style="display:none;">
                  <h1><b><br>Select the matches to compare:</b></h1><br><br>
                  <div id="select_matches_wrapper">
                    <div id="select_matches">                 
                    </div>
                  </div>
                  <button class="button1" onclick="compare_selected_matches(returnChecked());">Compare</button>
              </div>

              <div id="chartContainer"></div>
              <div id="chartContainer1"></div>
            </div>
            <div class="clearfix colelem" id="u623-4">
              <p>VIDEO</p>
            </div>
            <div class="shadow clearfix colelem" id="u1152">
              <div class="clip_frame colelem" id="u1212">
                <video id="myVideo" width="600" height="400" controls>{{{latest_video_link}}}</video>
              </div>
              <div class="container colelem" style="margin-left:33%">
                <div class="custom-select">
                  Shots: 
                  <select id="select_shot" onchange="filter()">
                    <option>All</option>
                    <option>Backhand</option>
                    <option>Smash</option>
                    <option>Fronthand</option>
                    <option>Serve</option>
                    <option>Lob</option>
                  </select>
                </div>
                <div class="custom-select1">
                  Players: 
                  <select id="select_player" onchange="filter()">
                    <option>Both</option>
                    <option>Top</option>
                    <option>Bottom</option>
                  </select>
                </div>
              </div>
              <div class="clip_frame colelem" id="rally_json">
              </div>
            </div>
            <div class="clearfix colelem" id="u623-4">
              <p>COACH REMARK</p>
            </div>
            <div class="shadow clearfix colelem" id="u618">
              <div class="clip_frame colelem" id="u871">
                <b><span id="doc_recom"></span></b>
              </div>
            </div>
            <div class="clearfix colelem" id="u623-4">
              <p>COACH RECOMMENDATIONS</p>
            </div>
            <div class="shadow clearfix colelem" id="u618">
              <div class="clip_frame colelem" id="u871">
                <ul id="rig"></ul>
              </div>
            </div>
            <div class="clearfix colelem" id="u906-4">
              <p>COACH RESOURCES</p>
            </div>
            <div class="shadow clearfix colelem" id="u901">
              <div class="clearfix grpelem" id="ppbuttonu955">
                <div class="clip_frame colelem" id="u1011">
                  <ul id="rig1"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix colelem" id="u182-6">
        <p>Copyright © 2018, International Institute of Information Technology, Hyderabad. All rights reserved</p>
        <p id="uname" style="display: none;">{{uname}}</p>
      </div>
      <div class="clip_frame colelem" id="u203">
        <img class="block" id="u203_img" src="images/iiitlogo.png?crc=17564724" alt="" data-image-width="118" data-image-height="61"/>
      </div>
    </div>
  </div>
</body>
</html> 