<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="en-US">
 <head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2017.0.0.363"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <script type="text/javascript">
   // Update the 'nojs'/'js' class on the html node
document.documentElement.className = document.documentElement.className.replace(/\bnojs\b/g, 'js');

// Check that all required assets are uploaded and up-to-date
if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["museutils.js", "museconfig.js", "jquery.watch.js", "require.js", "webpro.js", "player.css"], "outOfDate":[]};
</script>
  
  <title>player</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/site_global.css?crc=443350757"/>
  <link rel="stylesheet" type="text/css" href="css/master_a-master.css?crc=505742877"/>
  <link rel="stylesheet" type="text/css" href="css/player.css?crc=3855062097" id="pagesheet"/>
  <!-- IE-only CSS -->
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="css/iefonts_player.css?crc=184104986"/>
  <![endif]-->
  <!-- Other scripts -->
  <script type="text/javascript">
   var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/open-sans:i4,n4:default;lato:n7,n4,n9,i4:default.js" type="text/javascript">\x3C/script>');
</script>
   </head>
 <body>

  <div class="clearfix borderbox" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu177"><!-- group -->
     <div class="clearfix grpelem" id="u177"><!-- group -->
      <div class="clip_frame grpelem" id="u179"><!-- image -->
       <img class="block" id="u179_img" src="images/logo-crop-u179.png?crc=349396208" alt="" data-image-width="109" data-image-height="46"/>
      </div>
      <div class="clearfix grpelem" id="u181-4"><!-- content -->
       <p>IIIT-H BADMINTON ACADEMY</p>
      </div>
     </div>
     <div class="clip_frame grpelem" id="u1580"><!-- image -->
      <img class="block" id="u1580_img" src="images/bg-crop-u1580.png?crc=4197570884" alt="" data-image-width="1030" data-image-height="510"/>
     </div>
     <div class="clearfix grpelem" id="u1499"><!-- column -->
      <div class="position_content" id="u1499_position_content">
       <div class="clearfix colelem" id="ppu474"><!-- group -->
        <div class="clearfix grpelem" id="pu474"><!-- column -->
         <div class="clip_frame colelem" id="u474"><!-- image -->
          <img class="block" id="u474_img" src="images/saina07082012.jpg?crc=3791393729" alt="" data-image-width="164" data-image-height="164"/>
         </div>
         <div class="clearfix colelem" id="u484-4"><!-- content -->
          <p>{{name}}</p>
         </div>
        </div>
        <div class="clip_frame grpelem" id="u488"><!-- image -->
         <img class="block" id="u488_img" src="images/hiticon.png?crc=394118526" alt="" data-image-width="47" data-image-height="73"/>
        </div>
        <div class="clearfix grpelem" id="u498-4"><!-- content -->
         <p>Rank #</p>
        </div>
        <div class="clearfix grpelem" id="u502-4"><!-- content -->
         <p>{{rank}}</p>
        </div>
       </div>
       <div class="shadow clearfix colelem" id="u506"><!-- column -->
        <div class="clearfix colelem" id="ppu509-4"><!-- group -->
         <div class="clearfix grpelem" id="pu509-4"><!-- column -->
          <div class="clearfix colelem" id="u509-4"><!-- content -->
           <p>STYLE</p>
          </div>
          <a class="nonblock nontext clearfix colelem" id="u518-5" href="video-summary.html"><!-- content --><p id="u518-3"><span id="u518">{{s1}}</span><span id="u518-2">%</span></p></a>
         </div>
         <div class="clearfix grpelem" id="u512-4"><!-- content -->
          <p>GAME</p>
         </div>
         <div class="clip_frame grpelem" id="u578"><!-- image -->
          <img class="block" id="u578_img" src="images/icon1.jpg?crc=341335211" alt="" data-image-width="161" data-image-height="171"/>
         </div>
         <a class="nonblock nontext clearfix grpelem" id="u527-5" href="video-summary.html"><!-- content --><p id="u527-3"><span id="u527">{{dominance}}</span><span id="u527-2"></span></p></a>
         <div class="clip_frame grpelem" id="u588"><!-- image -->
          <img class="block" id="u588_img" src="images/icon2.jpg?crc=346280481" alt="" data-image-width="100" data-image-height="128"/>
         </div>
         <div class="clearfix grpelem" id="pu515-4"><!-- column -->
          <div class="clearfix colelem" id="u515-4"><!-- content -->
           <p>AGILITY</p>
          </div>
          <a class="nonblock nontext clearfix colelem" id="u530-5" href="video-summary.html"><!-- content --><p id="u530-3"><span id="u530">{{speed}}</span><span id="u530-2">m/s</span></p></a>
         </div>
        </div>
        <div class="clearfix colelem" id="pu521-4"><!-- group -->
         <a class="nonblock nontext clearfix grpelem" id="u521-4" href="video-summary.html"><!-- content --><p>{{style1}}</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u524-4" href="video-summary.html"><!-- content --><p>DOMINANCE</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u533-4" href="video-summary.html"><!-- content --><p>SPEED</p></a>
        </div>
        <div class="colelem" id="u563"><!-- simple frame --></div>
        <div class="colelem" id="u572"><!-- simple frame --></div>
        <div class="colelem" id="u575"><!-- simple frame --></div>
        <div class="clearfix colelem" id="pu536-6"><!-- group -->
         <a class="nonblock nontext clearfix grpelem" id="u536-6" href="video-summary.html"><!-- content --><p>{{s2}}%</p><p>{{style2}}</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u539-6" href="video-summary.html"><!-- content --><p>{{s3}}%</p><p>{{style3}}</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u542-6" href="video-summary.html"><!-- content --><p>{{s4}}%</p><p>{{style4}}</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u545-6" href="video-summary.html"><!-- content --><p>{{strokes}}</p><p>STROKES/POINT</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u548-6" href="video-summary.html"><!-- content --><p>{{serve}} s</p><p>SERVE DELAY</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u551-6" href="video-summary.html"><!-- content --><p>{{speed}} m/s</p><p>SPEED</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u560-6" href="video-summary.html"><!-- content --><p>{{react}} s</p><p>REACT TIME</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u557-6" href="video-summary.html"><!-- content --><p>{{frequency}}</p><p>FREQUENCY OF MOVEMENT</p></a>
         <a class="nonblock nontext clearfix grpelem" id="u554-6" href="video-summary.html"><!-- content --><p>{{steps}}</p><p>STEPS/ POINT</p></a>
        </div>
       </div>
       <div class="clearfix colelem" id="u623-4"><!-- content -->
        <p>COACH RECOMMENDATIONS</p>
       </div>
       <div class="shadow clearfix colelem" id="u618"><!-- group -->
        <div class="clip_frame grpelem" id="u881"><!-- image -->
         <img class="block" id="u881_img" src="images/arrowleft.jpg?crc=4265692179" alt="" data-image-width="18" data-image-height="26"/>
        </div>
        <div class="clearfix grpelem" id="pu773-4"><!-- column -->
         <div class="clearfix colelem" id="u773-4"><!-- content -->
          <p>Recommended Videos</p>
         </div>
         <div class="clip_frame colelem" id="u871"><!-- image -->
          <img class="block" id="u871_img" src="images/video.jpg?crc=4117028267" alt="" data-image-width="483" data-image-height="67"/>
         </div>
        </div>
       </div>
       <div class="clearfix colelem" id="u906-4"><!-- content -->
        <p>COACH RESOURCES</p>
       </div>
       <div class="shadow clearfix colelem" id="u901"><!-- group -->
        <div class="clearfix grpelem" id="ppbuttonu955"><!-- column -->
         <div class="clearfix colelem" id="pbuttonu955"><!-- group -->
          <div class="Button clearfix grpelem" id="buttonu955"><!-- container box -->
           <div class="clearfix grpelem" id="u958-4"><!-- content -->
            <p>Videos</p>
           </div>
           <div class="clip_frame grpelem" id="u973"><!-- image -->
            <img class="block" id="u973_img" src="images/arrow.jpg?crc=3967511024" alt="" data-image-width="14" data-image-height="8"/>
           </div>
          </div>
          <div class="Button clearfix grpelem" id="buttonu983"><!-- container box -->
           <div class="clearfix grpelem" id="u984-4"><!-- content -->
            <p>Search Video</p>
           </div>
           <div class="clip_frame grpelem" id="u1001"><!-- image -->
            <img class="block" id="u1001_img" src="images/search.jpg?crc=374828567" alt="" data-image-width="19" data-image-height="20"/>
           </div>
          </div>
         </div>
         <div class="clip_frame colelem" id="u1011"><!-- image -->
          <img class="block" id="u1011_img" src="images/video2.jpg?crc=320465499" alt="" data-image-width="691" data-image-height="250"/>
         </div>
        </div>
        <div class="clip_frame grpelem" id="u1021"><!-- image -->
         <img class="block" id="u1021_img" src="images/scroll.jpg?crc=3876667275" alt="" data-image-width="13" data-image-height="272"/>
        </div>
       </div>
      </div>
     </div>
     <form class="form-grp clearfix grpelem" id="widgetu628" method="post" enctype="multipart/form-data" action="scripts/form-u628.php"><!-- none box -->
      <div class="clearfix grpelem" id="u640-4"><!-- content -->
       <p>Submitting Form...</p>
      </div>
      <div class="clearfix grpelem" id="u638-4"><!-- content -->
       <p>The server encountered an error.</p>
      </div>
      <div class="clearfix grpelem" id="u637-4"><!-- content -->
       <p>Form received.</p>
      </div>
      <button class="submit-btn NoWrap rounded-corners clearfix grpelem" id="u639-4" type="submit" value="Submit" tabindex="2"><!-- content -->
       <div style="margin-top:-11px;height:11px;">
        <p>Submit</p>
       </div>
      </button>
      <div class="fld-grp clearfix grpelem" id="widgetu629" data-required="false"><!-- none box -->
       <span class="fld-textarea actAsDiv clearfix grpelem" id="u632-4"><!-- content --><textarea class="wrapped-input" id="widgetu629_input" name="custom_U629" tabindex="1"></textarea><label class="wrapped-input fld-prompt" id="widgetu629_prompt" for="widgetu629_input"><span class="actAsPara">Enter Your Message</span></label></span>
      </div>
     </form>
     <div class="clip_frame grpelem" id="u891" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- image -->
      <img class="block" id="u891_img" src="images/arrowleft.jpg?crc=4265692179" alt="" data-image-width="18" data-image-height="26"/>
     </div>
    </div>
    <div class="verticalspacer" data-offset-top="1661" data-content-above-spacer="1661" data-content-below-spacer="143"></div>
    <div class="clearfix colelem" id="u182-6"><!-- content -->
     <p>Copyright © 2018, International Institute of Information Technology, Hyderabad. All rights reserved</p>
     <p>Powered by</p>
    </div>
    <div class="clip_frame colelem" id="u203"><!-- image -->
     <img class="block" id="u203_img" src="images/iiitlogo.png?crc=17564724" alt="" data-image-width="118" data-image-height="61"/>
    </div>
   </div>
  </div>
  <!-- Other scripts -->
  <script type="text/javascript">
   window.Muse.assets.check=function(d){if(!window.Muse.assets.checked){window.Muse.assets.checked=!0;var b={},c=function(a,b){if(window.getComputedStyle){var c=window.getComputedStyle(a,null);return c&&c.getPropertyValue(b)||c&&c[b]||""}if(document.documentElement.currentStyle)return(c=a.currentStyle)&&c[b]||a.style&&a.style[b]||"";return""},a=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),
16);return 0},g=function(g){for(var f=document.getElementsByTagName("link"),h=0;h<f.length;h++)if("text/css"==f[h].type){var i=(f[h].href||"").match(/\/?css\/([\w\-]+\.css)\?crc=(\d+)/);if(!i||!i[1]||!i[2])break;b[i[1]]=i[2]}f=document.createElement("div");f.className="version";f.style.cssText="display:none; width:1px; height:1px;";document.getElementsByTagName("body")[0].appendChild(f);for(h=0;h<Muse.assets.required.length;){var i=Muse.assets.required[h],l=i.match(/([\w\-\.]+)\.(\w+)$/),k=l&&l[1]?
l[1]:null,l=l&&l[2]?l[2]:null;switch(l.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");f.className+=" "+k;k=a(c(f,"color"));l=a(c(f,"backgroundColor"));k!=0||l!=0?(Muse.assets.required.splice(h,1),"undefined"!=typeof b[i]&&(k!=b[i]>>>24||l!=(b[i]&16777215))&&Muse.assets.outOfDate.push(i)):h++;f.className="version";break;case "js":h++;break;default:throw Error("Unsupported file type: "+l);}}d?d().jquery!="1.8.3"&&Muse.assets.outOfDate.push("jquery-1.8.3.min.js"):Muse.assets.required.push("jquery-1.8.3.min.js");
f.parentNode.removeChild(f);if(Muse.assets.outOfDate.length||Muse.assets.required.length)f="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",g&&Muse.assets.outOfDate.length&&(f+="\nOut of date: "+Muse.assets.outOfDate.join(",")),g&&Muse.assets.required.length&&(f+="\nMissing: "+Muse.assets.required.join(",")),alert(f)};location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi)?setTimeout(function(){g(!0)},5E3):g()}};
var muse_init=function(){require.config({baseUrl:""});require(["jquery","museutils","whatinput","webpro","jquery.watch"],function(d){var $ = d;$(document).ready(function(){try{
window.Muse.assets.check($);/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.initWidget('#widgetu628', ['#bp_infinity'], function(elem) { return new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu628 */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
}catch(b){if(b&&"function"==typeof b.notify?b.notify():Muse.Assert.fail("Error calling selector function: "+b),false)throw b;}})})};

</script>
  <!-- RequireJS script -->
  <script src="scripts/require.js?crc=244322403" type="text/javascript" async data-main="scripts/museconfig.js?crc=168988563" onload="if (requirejs) requirejs.onError = function(requireType, requireModule) { if (requireType && requireType.toString && requireType.toString().indexOf && 0 <= requireType.toString().indexOf('#scripterror')) window.Muse.assets.check(); }" onerror="window.Muse.assets.check();"></script>
   </body>
</html>
